.marquee-container {
    overflow: hidden;
    position: relative;
    white-space: nowrap;
}

.marquee-text {
    display: inline-block;
    animation: marqueeAnimation 10s linear infinite;
}

@keyframes marqueeAnimation {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.text-part {
    display: inline-block;
}

    .text-part.part1 {
        color: #FF5733; /* First color */
        font-weight:bold;
    }

    .text-part.part2 {
        color: #3498DB; /* Second color */
        font-weight:bold;
    }
