
@{
    ViewBag.Title = "Commitee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<
<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-family: serif;
            /*background-image: url(https://image.freepik.com/free-vector/3d-mockup-open-book-template_25819-44.jpg);
            background-size: cover;*/ /* Scale the image to cover the entire background */
            /*background-position: center center;*/ /* Center the image */
            /*background-repeat: no-repeat;*/ /* Prevent image repetition */
            font-size:large;
            text-align:justify-all;
        }

        .table-responsive {
            max-width: 100%;
            overflow-x: auto;
        }

        .table {
            width: 100%;
            border-collapse: collapse;
            border: 1px solid #ccc;
        }

            .table th,
            .table td {
                padding: 10px;
                text-align: center;
                border: 1px solid #ccc;
            }

            .table thead th {
                background-color: #f2f2f2;
                font-weight: bold;
            }

            .table tbody th {
                background-color: #f2f2f2;
                font-weight: normal;
            }

            .table tbody tr:nth-child(even) {
                background-color: #f2f2f2;
            }
    </style>
</head>
<body>
    <h1 style="color:red;font-family:serif;text-align:center; font-weight:bold;">LIBRARY ADVISORY COMMITTEE</h1> 
    <br />
    <br />
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>

                    <th scope="col">NAME OF MEMBER</th>
                    <th scope="col">DESIGNATION</th>
                </tr>
            </thead>
            <tbody>
                <tr>

                    <td>Dr. Cherian Varghese</td>
                    <td>Prinicpal</td>


                </tr>
                <tr>

                    <td>Prof. Varghese Abraham</td>
                    <td>Academic Administrator</td>
                </tr>
                <tr>

                    <td>Dr. K. R Sukumaran Nair	</td>
                    <td>Academic Director</td>
                </tr>
                <tr>

                    <td>Mr. Saji Mathew	</td>
                    <td>Chief Accountant</td>
                </tr>
                <tr>

                    <td>Dr. Sudeep B. Chandramana	</td>
                    <td>HOD, Dept. Managemnet Studies</td>
                </tr>
                <tr>

                    <td>Mr. Tiji Thomas	</td>
                    <td>HOD, Dept. Comupter Applications</td>
                </tr>
                <tr>

                    <td>Dr. Jenny Jacob	</td>
                    <td>HOD, School Of Bio Science</td>
                </tr>
                <tr>

                    <td>Mr. Thomas Mathew	</td>
                    <td>Head It Systems</td>
                </tr>
                <tr>

                    <td>Sr. Licy O.S.S		</td>
                    <td>Chief Librarian</td>
                </tr>
                <tr>

                    <td>Mr. Babu C Tharakan	</td>
                    <td>Assistant Librarian</td>
                </tr>


            </tbody>
        </table>
    </div>

</body>
</html>


