
@{
    ViewBag.Title = "Guidlines";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-family: serif;
            font-style: normal;
            background-image: url(https://image.freepik.com/free-vector/3d-mockup-open-book-template_25819-44.jpg);
            background-size: cover; /* Scale the image to cover the entire background */
            background-position: center center; /* Center the image */
            background-repeat: no-repeat; /* Prevent image repetition */
        }

        h1 {
            color: red;
            font-size: 24px;
            text-decoration: dashed;
            text-align: center;
            margin-top: 20px;
        }

        ul {
            list-style-type: disc;
            padding-left: 20px;
            max-width: 600px;
            margin: 0 auto; /* Center align the list */
        }

        li {
            margin-bottom: 10px;
            text-align: justify;
            color:black;
            font-family:serif;

        }
    </style>
</head>
<body>

    <h1>LIBRARY RULES AND REGULATIONS</h1>
    <br />
    <br />
    <br />
    <div>
        <ul>
            <li>Silence is the golden rule in the library.</li>
            <li>Faculty members and students should register and login to view the books.</li>
            <li>Combined studies and group discussions are to be done in the designated areas only.</li>
            <li>Use of laptops, phones etc. inside the library is allowed only for academic purposes.</li>
            <li>Each student should pay the penalties. The librarian will be updated here about the penalty.</li>
            <li>Students can request for their needed purpose, only related to academic purposes.</li>
            <li>Students can only login to the external database using their college ID.</li>
            <li>All public holidays will be holidays for the library as well.</li>
            <li>Members can make use of DSpace, NDL; Study archives for online study materials.</li>
            <li>All services of the library may be suspended for anyone violating the rules of the library.</li>
        </ul>
    </div>

</body>
</html>


