
@{
    ViewBag.Title = "Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html> 
<head>
    <style>
        body {
            font-family: serif;
            font-style: normal;
            background-image: url(https://image.freepik.com/free-vector/3d-mockup-open-book-template_25819-44.jpg);
            background-size: cover; /* Scale the image to cover the entire background */
            background-position: center center; /* Center the image */
            background-repeat: no-repeat; /* Prevent image repetition */
        }

        h1 {
            color: red;
            font-size: 24px;
            text-decoration: dashed;
            text-align: center;
            margin-top: 20px;
        }

        ul {
            list-style-type: disc;
            padding-left: 20px;
            max-width: 600px;
            margin: 0 auto; /* Center align the list */
        }

        li {
            margin-bottom: 10px;
            text-align: justify;
            color: black;
            font-family: serif;
        }
    </style>
</head>
<body>
<h1>GENERAL SERVICES</h1>
<div>
    <ul>
        <li>
            Lending or Circulation Service (Issue/Return, Renewal & Reservation)
        </li>
        <li>
            Access to E-resources
        </li>
        <li>
            Remote Access
        </li>
        <li>
            Reference Service
        </li>
        <li>
            Assistance in the Use of Library and Library Tools
        </li>
        <li>
            Library Orientation
        </li>

    </ul>
</div>


<h1>DIGITAL SERVICES</h1>
<div>
    <ul>
        <li>
            Digital Repository
        </li>
        <li>
            Wi-Fi connectivity with 100 Mbps speed
        </li>
        <li>
            Library webinars & trainings for students and faculties
        </li>
        <li>
            Database EBSCO

        </li>
        <li>
            Physical DB Details
        </li>
        <li>
            Bokk Review System
        </li>

    </ul>
</div>
</body>